<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="app.js"></script>
</head>
<body>
<form>
<div class = "contact" id = "rcorner">
<h1> hello there</h1>

First Name : <input type = "text" name="firstname"> <br>

Last Name : <input type ="text" name = "lastname"><br>

Email Address : <input type = "text" name = "email"><br>

Subject : <input type = "text" name = "email"><br>

Message : <textarea name = "description " rows="10" columns ="5"></textarea>



</div>

<button class="button" onclick="goBack()">Go Back</button>

</form>
</body>



</html>